<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h2 class="text-center">
          TODO App
        </h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5">
        <div class="input-group input-group-lg">
            <div class="input-group">
              <input type="text"
                class="form-control" placeholder="Add Task" [(ngModel)]="taskName">
              <div class="input-group-append" id="button-addon4">
                <button class="btn btn-outline-secondary"
                 type="button" (click)="onAddTodo()">Add</button>
              </div>
            </div>
          </div>
    </div>
  </div>

  <div class="row justify-content-center" style="margin-top:20px;">
      <div class="col-md-6">
          <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">TaskName</th>
                  <th scope="col">Action</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let todo of todos;let i = index">
                  <th scope="row">{{i}}</th>
                  <td>{{todo.taskName}}</td>
                  <td>
                    <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input"
                        id="done"  [checked]="todo.done" (change)="onUpdateTodo(todo)">
                      <label class="form-check-label" for="exampleCheck1">Done</label>
                    </div>
                  </td>
                  <td>{{todo.status}}</td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>

</div>
